<div class="ui inverted menu">
  <div class="ui container">
    <a href="#" class="header item">
      <img style="width: 16px; height: 16px; margin-right: 7px;" class="logo" src="../../assets/favicon-32.png">
      Meetup
    </a>
    <div *ngIf="!loggedIn" class="right menu">
      <a href="https://slack.com/oauth/authorize?scope=identity.basic&client_id={{clientId}}&redirect_uri={{authUrl}}"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
    </div>
    <div *ngIf="loggedIn" class="right menu">
      <a routerLink="/create" class="item">Create</a>
      <a (click)="onLogout()" class="item">Sign Out</a>
    </div>
  </div>
</div>
