<div class="ui card">
  <div *ngIf="isLogin" class="content">
    <angular2-fullcalendar  [options]="calendarOptions"></angular2-fullcalendar>
  </div>
  <div *ngIf="!isLogin" class="content">
    <div class="ui message">
      <h1 class="ui header">Hello, Friends!</h1>
      <p>You need a login to open a good and fun meeting!</p>
      <a href="https://slack.com/oauth/authorize?scope=users:read&client_id={{clientId}}&redirect_uri={{authUrl}}"><img src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>
    </div>
  </div>
</div>
