<div class="ui card">
  <div class="content">
    <form class="ui form" (ngSubmit)="onSubmit()" #f="ngForm">
      <h4 class="ui dividing header">밋업 정보</h4>
      <div class="two fields">
        <div class="required field">
          <label>밋업 제목</label>
          <input
            type="text"
            name="title"
            placeholder="밋업 제목을 적어주세요"
            [(ngModel)]="title"
            required
          >
        </div>
        <div class="required field">
          <label>카테고리</label>
          <select
            class="ui fluid dropdown"
            [(ngModel)]="categoryId"
            name="categoryId"
            required
          >
            <option
              value=""
              disabled
              selected
            >카테고리를 선택해주세요</option>
            <option *ngFor="let item of category" [(value)]="item.id">{{ item.title }}</option>
          </select>
        </div>
      </div>
      <div class="two fields">
        <div class="required field">
          <label>시작 시간</label>
          <input class="picker-input" id="time-input-1"
                 [value]="startDate | date: 'MMMM dd, y HH:mm'"
                 [(ngModel)]="startDate"
                 name="startDate"
                 placeholder="이곳을 눌러 시간을 정해주세요"
                 dateTimePicker
                 readonly
                 required
          >
        </div>
        <div class="required field">
          <label>종료 시간</label>
          <input class="picker-input" id="time-input-2"
                 [value]="endDate | date: 'MMMM dd, y HH:mm'"
                 [(ngModel)]="endDate"
                 name="endDate"
                 placeholder="이곳을 눌러 시간을 정해주세요"
                 dateTimePicker
                 readonly
                 required
          >
        </div>
      </div>
      <h4 class="ui dividing header">밋업 장소 정보</h4>
      <div class="required field">
        <label>장소에 대해 자세히 적어주세요</label>
        <input
          type="text"
          name="locationDetail"
          placeholder="세부 장소"
          [(ngModel)]="locationDetail"
          required
        >
      </div>
      <div class="required field">
        <label>장소 찾기</label>
        <div class="ui action input">
          <input type="text" [(ngModel)]="location" name="location" placeholder="자세히 적을수록 정확도가 올라갑니다."/>
          <div (click)="searchLocation()" class="ui teal right labeled icon button">
            <i class="search icon"></i>
            찾기
          </div>
        </div>
      </div>
      <h4 *ngIf="finishSearch" class="ui dividing header">장소 확인</h4>
      <div *ngIf="finishSearch" class="ui card location">
        <div class="content">
          <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="17">
            <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
          </sebm-google-map>
        </div>
      </div>
      <h4 class="ui dividing header">밋업 정보</h4>
      <div class="required field">
        <label>밋업 설명</label>
        <textarea rows="3" [(ngModel)]="description" name="description" required></textarea>
      </div>
      <button
        class="ui green button"
        tabindex="0"
        type="submit"
        [disabled]="!f.valid"
      >수정하기</button>
      <div (click)="clear()" class="ui red button" tabindex="0">Clear</div>
    </form>
  </div>
</div>
