.ui.card.wrapper {
  width: 100%;
  margin: 0 auto;
  margin-top: 2%;
}

.comment {
  width: 100%;
}

.detail-title {
  font-size: 2rem;
  margin-right: 10px;
}

div.content > div.header {
}

div.content > div.header > div.meta {
  font-size: 1rem;
  margin-bottom: 15px;
  margin-top: 10px;
}

div.content > div.header > div.meta > span {
 color: #565656;
}

.detail {
  width: 100%;
  margin: 0 auto;
}

.location {
  width: 80%;
  margin: 0 auto;
}

.location > .content > img {
  width: 100%;
}
